src/main/resources/wsdl/ws-trust.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/" 	
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" 	
	xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" 
	xmlns:wstrust="http://docs.oasis-open.org/ws-sx/ws-trust/200512/" 	
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	name="mySecuTrust" 
	targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/">  	
	
	<!-- 		
		Plateforme mySecu
		Services WS-Trust (1.3)
		Version 1.3 	
	-->	
	
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
			<xs:element name="RequestSecurityToken" type="wst:AbstractRequestSecurityTokenType"/>
			<xs:element name="RequestSecurityTokenResponse" type="wst:AbstractRequestSecurityTokenType"/>
			<xs:complexType name="AbstractRequestSecurityTokenType">
				<xs:sequence>
					<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
				</xs:sequence>
				<xs:attribute name="Context" type="xs:anyURI" use="optional"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:complexType>				
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="RequestSecurityTokenMsg">
		<wsdl:part element="wst:RequestSecurityToken" name="request"/>
	</wsdl:message> 
  
	<wsdl:message name="RequestSecurityTokenResponseMsg">
	  <wsdl:part element="wst:RequestSecurityTokenResponse" name="response"/>
	</wsdl:message>	
	
    <wsdl:portType name="SecurityTokenService">		
		<wsdl:operation name="RequestSecurityToken">
			<wsdl:input message="tns:RequestSecurityTokenMsg"/>
			<wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
		</wsdl:operation>			
	</wsdl:portType>

	<!-- Binding HTTP pour SOAP 1.2-->
	<wsdl:binding name="STS_Binding_SOAP12" type="tns:SecurityTokenService">
		<wsoap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>		
		<wsdl:operation name="RequestSecurityToken">
			<wsoap12:operation soapAction="" />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>		
	</wsdl:binding>

	<!-- Binding HTTP pour SOAP 1.1-->
	<wsdl:binding name="STS_Binding_SOAP11" type="tns:SecurityTokenService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>			
			<wsdl:operation name="RequestSecurityToken">
				<soap:operation soapAction="" />
				<wsdl:input>
					<soap:body use="literal" />
				</wsdl:input>
				<wsdl:output>
					<soap:body use="literal" />
				</wsdl:output>
			</wsdl:operation>
	</wsdl:binding>

	<!-- Service pour SOAP 1.1 et SOAP 1.2-->
	<wsdl:service name="SecurityTokenService">
		<wsdl:port binding="tns:STS_Binding_SOAP12" name="SecurityTokenServicePort_SOAP12">
			<wsoap12:address location="https://ws.mysecu.lu/ws/soap/trust"/>
		</wsdl:port>
		<wsdl:port binding="tns:STS_Binding_SOAP11" name="SecurityTokenServicePort_SOAP11">
			<soap:address location="https://ws.mysecu.lu:443/ws/soap/trust"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>